<h2>
    {{parentData}}<br>
    {{name}}
</h2>

<button (click)="fireEvent()">Send Event</button>

--------------------------------------------------

<div>
    <h2> {{name}} </h2>
    <h2> {{name | lowercase }} </h2>
    <h2> {{name | uppercase }} </h2>
    <h2> {{name | titlecase }} </h2>
    <h2> {{name | slice:3 }} </h2> <!-- starting from index 3 -->
    <h2> {{name | slice:3:5 }} </h2> <!-- starting from index 3 and stop on 5 index-->
    <h2> {{person | json}} </h2>
    
    <h2> {{5.678 | number:'1.2-3'}} </h2>
    <h2> {{5.678 | number:'3.4-5'}} </h2>
    <h2> {{5.678 | number:'3.1-2'}} </h2>
    
    <h2> {{0.25 | currency }} </h2>
    <h2> {{0.25 | currency: 'GBP' }} </h2>
    <h2> {{0.25 | currency: 'EUR': 'code' }} </h2>

    <h2> {{ date  }} </h2>
    <h2> {{ date | date: 'short' }} </h2>
    <h2> {{ date | date: 'shortDate' }} </h2>
    <h2> {{ date | date: 'shortTime' }} </h2>
    <h2> {{ date | date: 'mediumTime' }} </h2>
    <h2> {{ date | date: 'mediumTime' }} </h2>
    <h2> {{ date | date: 'longTime' }} </h2>
    <h2> {{ date | date: 'longTime' }} </h2>
</div>